  <nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Search Movie</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
  </nav>
  
  <div class="container">
      <router-outlet></router-outlet>
  </div>

  <hr>
  <footer class="footer">
      <p class="text-center text-muted"> &copy; 2018 Search Movies team - OaK dev 
        <a target="_blank" href="http://github.com/strale-bandzi"><i class="fa fa-github"></i></a>
      </p>
  </footer>